@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Tourney:wdth,wght@100,400;120.9,460&display=swap');


* { 
    margin: 0;
    font-family: "Raleway";
    color: #1D1F22;
}

.router_links {
    text-decoration: none;
    width: 100%;
}

.router_links_cart{
    text-decoration: none;
    width: auto;
}
