@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Tourney:wdth,wght@100,400;120.9,460&display=swap');


* { 
    margin: 0;
    font-family: "Raleway";
    color: #1D1F22;
}

.router_links {
    text-decoration: none;
    width: 100%;
}

.router_links_cart{
    text-decoration: none;
    width: auto;
}
/* .navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    
    height: 80px;
    left: 0px;
    top: 0px;
    /* border: 1px solid black; */
 /* } */

/* .navbar .buttons {
    margin-left: auto;
    /* border: 1px solid black; */
/* } */ 

/* .button {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    /* border: 1px solid black; */
/* }  */

.button :hover {
    color: #5ECE7B;
    border-bottom: 2px solid  #5ECE7B;
}

.categories {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    /* border: 1px solid black; */
}

.main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

/* .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  } */

.photo_card {

    position: relative;
    width: auto;
    max-width: 354px;
    height: auto;
    max-height: 330px;
    top: 16px;
    left: 16px;
    align-self: stretch;
    border: solid 1px #1D1F22;
}



/* .card image_text {
    position: absolute; 
    top: 50%;
    left: 50%;
    
    
} */

/* .card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 40px;
    width: 386px;
    height: 444px;
    text-decoration: none;
    border: 1px solid black;
    
} */

/* .card:hover {
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    display: flexbox;
    align-items: flex-start;
    position: sticky;
    border: 1px solid black;
} */ 

.list {
    list-style-type: none;

}

.card_list {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    border: #1D1F22 1px solid;
    
    
    

}
/* "react-router-dom": "^5.3.2", */
.buttons {
    display: inline-block;
    /* border: 1px solid black; */
}

.small_images {
    width: auto;
    max-width: 79px;
    height: auto;
    max-height: 80px;
    border: #1D1F22;
    background-color: #c4c4c4;
    border: 1px solid black;
}

.small_card{

    margin: 10px;
    border: #1D1F22;
    border: 1px solid black;

}

.big_images {

    width: auto;
    max-width: 610px;
    height: auto;
    max-height: 511px;
    border: 1px solid black;

}

.images_block {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    border: 1px solid black;
}

/* .attributes_text {
    box-sizing: border-box;
    display: inline-block;
    width: 63px;
    height: 45px;
    border: 1px solid black;
    margin: 12px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #1D1F22;
    border: 1px solid black;
}
.marked {
    background-color: #1D1F22;
    color: white;
} */

/* .card_title {
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    border: 1px solid black;
} */

/* .modal {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(57, 55, 72, 0.22);
    overflow-y: hidden;
    transform: translate(-50% -50%);
    z-index: 4;
} */

 /* .modal-main  */
    /* position: absolute; */
     /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: white; */
    /* margin-top: 280px; */
    /* right: -40px; */
    /* height: 677px; */
    /* width: 325px; */
    /* transform: translate(-50% , -50%); */
    /* overflow-y: scroll; */
    /* border: 1px solid #1D1F22; */
    

/* .modal-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
        /* identical to box height, or 26px */
    
    /* text-align: right; */
    
    /* color: #1D1F22; */
/* } */ 

++
.attributes_swatch {
   display: flex;
    height: 31px;
    width: 31px;
    /* margin-right: 10px; */
    /* border: #1D1F22 1px solid; */
    margin-right: 5px;
    border: #1D1F22 0.5px solid;
}
.s_marked {
    border: #ffffff 3px solid;
    outline: 1px solid #5ECE7B;
    
}

.swatch_border_marked {
    position: relative;
    display:none;
    width: 36px;
    height: 36px;
    border: 1px solid #5ECE7B;
    align-items: center;
    justify-content: center;
    
}

.cart_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 293px;
    height: 190px; 
    border: .5px solid #1D1F22
}

.cart_item_detailes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    /* width: 136px; */
    height: 190px;
    border: .5px solid #1D1F22;
}
.cart_item_detailes_atrr {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        border: .5px solid #1D1F22
}
.cart_item_detailes_butt {
    width: 24px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 32px;

}
.cart_item_detailes_butt_incr {
    
    
}
.cart_item_detailes_butt_counter {
    position: relative;
    margin-top: 50%;
    text-align: center;
}

.cart_item_detailes_atrr_butt_decr {
    position: absolute;
    width: 24px;
    height: 24px;
    border: #1D1F22 1px solid;
    box-sizing: border-box;
    
}
.cart_item_detailes_atrr_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 136px;
    height: 82px;
    border: .5px solid #1D1F22
}

.cart_item_detailes_atrr_title_text {
    /* width: 136px;
    height: 52px; */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
        /* or 26px */
    display: flex;
    align-items: center;
    color: #1D1F22;
    border: .5px solid #1D1F22
}

.cart_item_detailes_atrr_title_amount {
    /* width: 52px; */
    /* height: 26px; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
        /* identical to box height, or 26px */
    text-align: right;
    color: #1D1F22;
    border: .5px solid #1D1F22
}

.cart_item_detailes_attr_icons {
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: .5px solid #1D1F22
}
.cart_item_detailes_attr_icons_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
        /* identical to box height, or 114% */
    
    display: flex;
    align-items: center;
    
    color: #1D1F22;
    border: .5px solid #1D1F22
}

.cart_item_detailes_attr_icons_value_default {

    width: 24px;
    height: 24px;
    gap: 8px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #1D1F22;
}
.modal_marked{
    background-color: #1D1F22;
    color: white;
}

.cart_item_detailes_attr_icons_list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
    
        /* width: 120px; */
        /* height: 24px; */
        border: .5px solid #1D1F22
}

.modal_cart_item_photo {
    display: flex;
    width: 121px;
    height: 190px;
    object-fit: contain;
    align-self: stretch;
    
}
.big_shopping_cart {
    display: block;
    margin-top: 0px;
    height: auto;
}

.big_shopping_cart_title {
   position: absolute;
   margin-top:0px;
   margin-left: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
     /* identical to box height, or 125% */
    text-transform: uppercase;
    color: #1D1F22;
}
.big_shopping_cart_items_list {
    display: flex;
    height: 336px;
    width: auto;
    margin-top: 160px;
    margin-right: 100px;
    margin-left: 100px;
    flex-direction: row;
}

.big_cart_item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        
        height: 288px;
        border: .5px solid #1D1F22
}

.big_cart_item_detailes {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
    
        /* width: 136px; */
        height: 288px;
        border: .5px solid #1D1F22;
    
}

.big_cart_item_detailes_attr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    border: .5px solid #1D1F22
}

.big_cart_item_detailes_atrr_title {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 136px;
        height: 82px;
        border: .5px solid #1D1F22
}

.big_cart_item_detailes_attr_icons {
    top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: .5px solid #1D1F22
}

.big_cart_item_detailes_attr_icons_text {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */
    
        display: flex;
        align-self: center;
    
        color: #1D1F22;
        border: .5px solid #1D1F22
}

.big_cart_item_detailes_attr_icons_list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
    
        /* width: 120px; */
        /* height: 24px; */
        border: .5px solid #1D1F22
}

.big_attributes_swatch {

    display: inline-block;
    height: 40px;
    width: 40px;
    gap: 10px;
}

.bs_marked {
    border:#5ECE7B 1px solid;
}

.big_cart_item_detailes_attr_icons_value_default {
    width: 63px;
    height: 45px;
    gap: 8px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
    background: #1D1F22;
    border: 1px solid #1D1F22;
}

.b_marked {
    background-color:#ffffff;
    color:#1D1F22;
}

.big_cart_item_detailes_butt {
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 70px;
    
}
.big_cart_item_detailes_butt_incr{
    
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border: #1D1F22 1px solid;
    text-align: center;
}

.big_cart_item_detailes_butt_decr {
    
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border: #1D1F22 1px solid;
    text-align: center;
}

.big_cart_item_detailes_butt_counter{
   
    margin-top: 50%; 
}

.cart_display_button {

    width: 100px;
    height: 50px;
    border: 1px solid #1D1F22;
}

.cart_display_button_counter {
    display: none;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #1D1F22;
    border: #1D1F22 1px solid;
}

.display{
    display: block;
}

.slide_container {
    width: 200px;
    height: 288px;
    position: relative;
    border: #1D1F22 1px solid;
}

.slide_buttons {
    box-sizing: border-box;
    position: absolute;
    top: 220px;
    right: 10px;
    height: 60px;
    width: 60px;
    border: #1D1F22 1px solid;


}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide {
    display: none;
    animation-name: fade;
    animation-duration: 0.8s
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.active {
    display: block;
}

.slide_image {
    height: 288px;
    width: 200px;
    object-fit: contain;
}